
    <header>
        <div>
            <div class="menuCabecera">
                <div class="contenedorLogo">
                    <a href="/"><img src="../images/iconoweb.png" alt="Logo"></a>
                    <p>GeeksHubs</p>
                    <p>Travel</p>
                </div>
                <ul>
                    <li>Destinos</li>
                    <li>Quién somos</li>
                    <li>Dónde estamos</li>
                </ul>
                <div class="iconosRedes">
                    <img src="../images/fb-ico.png" alt="Logo Facebook">
                    <img src="../images/tt-ico.png" alt="Logo twitter">
                    <img src="../images/linkedin.png" alt="Logo linkedin">
                    <img src="../images/instagram.png" alt="Logo de instagram">
                    <img src="../images/Google.png" alt="Logo de google">
                </div>
            </div>
        </div>
    </header>

    <section id="sectionLogin">
        <div class="fondoBlanco">
            <div class="contenedorFormulario">
                <form action="/registrado" method="POST">
                    <h1>Ya estás registrado</h1>
                    <h1>Bienvenido</h1>
                    <h1>{{nombre}}</h1>
                    <h1>{{mensaje}}</h1>
                    <a href="/login" class="enlaceLogin">Ir a login</a>
                </form>
            </div>
        </div>
    </section>


    <footer>
            <div class="containerFooter">
                <div class="footerAyuda">
                    <h3>¿NECESITAS AYUDA?</h3>
                    <p>0264 123 4567
                        enquiry@geekshubstravels.com</p>
                    <p>Lun-Vie. 9:30-19:00 Sab: 10:00-14:00</p>
                </div>
                <div class="footerInformacion">
                    <h3>INFORMACION</h3>
                    <ul>
                        <li>Quienes somos</li>
                        <li>Preguntas frecuentes</li>
                        <li>Politica de privacidad</li>
                        <li>Condiciones generales</li>
                        <li>Aviso legal</li>
                        <li>Contacto</li>
                        <li>Programa de puntos</li>
                    </ul>
                </div>
                <div class="footerSuscribirse">
                    <h3>SUSCRIBETE A LA NEWSLETTER</h3>
                    <input type="text" name="mail" id="" size="30" placeholder="Correo electrónico"><br>
                    <button>SUSCRIBETE</button>
                </div>
            </div>
            <div class="derechos">
                <p>GeeksHubs Travels 2018 Todos los derechos reservados</p>
            </div>
        </footer>