<header>
    <div>
        <div class="menuCabecera">
            <div class="contenedorLogo">
                <a href="/"><img src="../images/iconoweb.png" alt="Logo"></a>
                <p>GeeksHubs</p>
                <p>Travel</p>
            </div>
        </div>
    </div>
</header>

<section id="sectionLogin">
    <div class="fondoBlanco">
        <div class="contenedorFormulario">
            <h1>{{mensaje}}</h1>
            <a href="/login" class="enlaceLogin">Volver al login</a>
        </div>
    </div>
</section>

<footer>
    <div>
        <p>
            GeeksHubs Travels 2018 Todos los derechos reservados
        </p>
    </div>
</footer>