<div class="fondoPrincipal">
</div>

<div class="fondoBlanco">
    <div class="contenedorBotones">
        <h1>Bienvenidos a</h1>
        <img src="./images/iconoweb.png" alt="">
        <p>GeeksHubs</p> 
        <p>Travel</p>
        <div class="botones">
            <a href="/login">Login</a>
            <a href="/registro">Registrarse</a>
        </div>
    </div>
</div>