<header>
        <div>
            <div class="menuCabecera">
                <div class="contenedorLogo">
                    <a href="/"><img src="../images/iconoweb.png" alt="Logo"></a>
                    <p>GeeksHubs</p>
                    <p>Travel</p>
                </div>
                <ul>
                    <li><a href="#SeccionDestinos">Destinos</a></li>
                    <li><a href="#nosotros">Quién somos</a></li>
                    <li><a href="#ubicacion">Dónde estamos</a></li>
                </ul>
                <div class="iconosRedes">
                    <img src="../images/fb-ico.png" alt="Logo Facebook">
                    <img src="../images/tt-ico.png" alt="Logo twitter">
                    <img src="../images/linkedin.png" alt="Logo linkedin">
                    <img src="../images/instagram.png" alt="Logo de instagram">
                    <img src="../images/Google.png" alt="Logo de google">
                </div>
            </div>
        </div>
        <div id="home">
            <div>
                <h1>Viaja! {{nombre}}</h1>
                <h3>Descubre lugares maravillosos!</h3>
            </div>
            <div class="contenedorBotonDestinos">
                <a href="#SeccionDestinos" class="botonDestinos">Ver destinos</a>
            </div>
        </div>
    </header>


    <section id="SeccionDestinos">
        <div id="sdestinos">
            <div id="primeraFilaDestinos">
                <div>
                    <img src="/images/beijing.jpg" alt="Ciudad Beijing">
                    <h2>Beijing</h2>
                    <div class="descuento">
                        Save 90$ pay only
                    </div>
                    <div class="precio">
                        <div>
                            359$
                        </div>
                    </div>
                </div>
                <div>
                    <img src="/images/buenos_aires.jpg" alt="Buenos Aires">
                    <h2>Buenos Aires</h2>
                    <div class="descuento">
                        Save 75$ pay only
                    </div>
                    <div class="precio">
                        <div>
                            729$
                        </div>
                    </div>
                </div>
                <div>
                    <img src="/images/ciudad_mexico.jpg" alt="Ciudad de méxico">
                    <h2>Ciudad de méxico</h2>
                    <div class="descuento">
                        Save 35$ pay only
                    </div>
                    <div class="precio">
                        <div>
                            519$
                        </div>
                    </div>
                </div>
            </div>
            <div id="segundaFilaDestinos">
                <div>
                    <img src="/images/madrid.jpg" alt="Madrid">
                    <h2>Madrid</h2>
                    <div class="descuento">
                        Save 65$ pay only
                    </div>
                    <div class="precio">
                        <div>
                            329$
                        </div>
                    </div>
                </div>
                <div>
                    <img src="/images/new_york.jpg" alt="New York">
                    <h2>New York</h2>
                    <div class="descuento">
                        Save 95$ pay only
                    </div>
                    <div class="precio">
                        <div>
                            199$
                        </div>
                    </div>
                </div>
                <div>
                    <img src="/images/tokyo.jpg" alt="Tokio">
                    <h2>Tokio</h2>
                    <div class="descuento">
                        Save 50$ pay only
                    </div>
                    <div class="precio">
                        <div>
                            659$
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="carouselMovil">
        <div class="contenedorCarousel">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>
                    <li data-target="#myCarousel" data-slide-to="5"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carouselImagenes">
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="/images/beijing.jpg" alt="">
                            <h2>Beijing</h2>
                            <div class="descuento">
                                Save 90$ pay only
                            </div>
                            <div class="precio">
                                <div>
                                    359$
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/images/buenos_aires.jpg" alt="">
                            <h2>Buenos Aires</h2>
                            <div class="descuento">
                                Save 75$ pay only
                            </div>
                            <div class="precio">
                                <div>
                                    729$
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/images/ciudad_mexico.jpg" alt="">
                            <h2>Ciudad de méxico</h2>
                            <div class="descuento">
                                Save 35$ pay only
                            </div>
                            <div class="precio">
                                <div>
                                    519$
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/images/madrid.jpg" alt="">
                            <h2>Madrid</h2>
                            <div class="descuento">
                                Save 65$ pay only
                            </div>
                            <div class="precio">
                                <div>
                                    329$
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/images/new_york.jpg" alt="">
                            <h2>New York</h2>
                            <div class="descuento">
                                Save 95$ pay only
                            </div>
                            <div class="precio">
                                <div>
                                    199$
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/images/tokyo.jpg" alt="">
                            <h2>Tokio</h2>
                            <div class="descuento">
                                Save 50$ pay only
                            </div>
                            <div class="precio">
                                <div>
                                    659$
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </section>

    <section id="nosotros">
        <div>
            <div>
                <h1>QUIEN SOMOS</h1>
            </div>
            <p>GeeksHubs Travels es una agencia de viajes online creada en 2009
                por un equipo de viajeros entusiastas que deciden hacer de su pasión por conoccer el mundo un modo de
                vida. desde nuestros inicios hemos diseñado mas de 500 viajes organizados a diferentes destinos de
                Europa, Norteamérica y Asia. Nuestro objetivo ahora es ir ampliando horizontes poco a poco
            </p>
            <div class="contenedorBotonDiscubrir">
                <a href="#">DISCUBRIR</a>
            </div>
        </div>
    </section>

    <section id="ubicacion">
        <div class="contenedorMapa">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d956.6630991176203!2d-3.7037322178409378!3d40.42621995026423!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd42286264887f17%3A0x78848aa7adfdb15f!2sCalle%20de%20San%20Andr%C3%A9s%2C%208%2C%2028004%20Madrid!5e0!3m2!1ses!2ses!4v1567937320242!5m2!1ses!2ses"
                width="450" height="500" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
        <div class="contenedorContacto">
            <div>
                <p>E:enquiry@artiotravel.com</p>
                <p>P:0264 123 4567</p>
                <br>
                <p>Give us a call or drop by anytime, we endeavour to answer all enquiries within 24 hours on business
                    days.</p>
                <br>
                <p>We are open from 8.30 AM - 4.00 PM week days.</p>
            </div>
            <div>
                <form action="">
                    <div class="formulario">
                        <div class="contenedorInputs">
                            <input type="text" name="" size="45" placeholder="Name*" class="edit">
                            <input type="text" name="" size="45" placeholder="Email*" class="edit">
                        </div>
                        <div class="contenedorInputs">
                            <input type="text" name="" size="45" placeholder="Phone" class="edit">
                            <input type="text" name="" size="45" placeholder="Country" class="edit">
                        </div>
                        <div class="contenedorTextarea">
                            <textarea name="" id="" cols="98" rows="6" placeholder="Message"></textarea>
                        </div>
                        <p>*PLEASE COMPLETE ALL FIELDS CORRECTLY</p>
                        <div class="contenedorBotonEnviarMensaje">
                            <a href="#" class="botonEnviarMensaje">Enviar mensaje</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <footer>
        <div class="containerFooter">
            <div class="footerAyuda">
                <h3>¿NECESITAS AYUDA?</h3>
                <p>0264 123 4567
                    enquiry@geekshubstravels.com</p>
                <p>Lun-Vie. 9:30-19:00 Sab: 10:00-14:00</p>
            </div>
            <div class="footerInformacion">
                <h3>INFORMACION</h3>
                <ul>
                    <li>Quienes somos</li>
                    <li>Preguntas frecuentes</li>
                    <li>Politica de privacidad</li>
                    <li>Condiciones generales</li>
                    <li>Aviso legal</li>
                    <li>Contacto</li>
                    <li>Programa de puntos</li>
                </ul>
            </div>
            <div class="footerSuscribirse">
                <h3>SUSCRIBETE A LA NEWSLETTER</h3>
                <input type="text" name="mail" id="" size="30" placeholder="Correo electrónico"><br>
                <button>SUSCRIBETE</button>
            </div>
        </div>
        <div class="derechos">
            <p>GeeksHubs Travels 2018 Todos los derechos reservados</p>
        </div>
    </footer>